/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 94, 0);
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#logo {
    width: 100px;
}

/* Content */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 12%;
}

.box {
    width: 32%;
    /* border: 2px solid black; */
    margin: 40px 0;
    position: relative;
}

/* Immagine Prodotti */

.figure {
    width: 100%;
}

.figureb {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.figure:hover {
    display: none;
}

/* LIKE BUTTON */

.cuore {
    background-color: white;
    font-size: 30px;
    padding: 2% 3%;
    position: absolute;
    top: 10px;
    right: 0;
}

.cuore:hover {
    color: red;
}

/* ETICHETTE */

.label {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.red {
    background-color: red;
    position: absolute;
    bottom: 50px;
    left: 0;
}

.green {
    background-color: green;
    position: absolute;
    bottom: 50px;
    left: 45px;
}

.green-last {
    background-color: green;
    position: absolute;
    bottom: 50px;
    left: 0;
}

/* DESCRIZIONE */

.text {
    position: absolute;
    bottom: -50px;
    left: 0;
}

.brand {
    font-size: 13px;
    color: rgb(25, 25, 25);
}

.price {
    color: red;
}

.prod {
    font-weight: bold;
}

/* FOOTER NAV */

footer {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}

.foot-text {
    color: white;
    padding: 5px;
    font-weight: bold;
}

.small {
    font-size: 12px;
}