/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 94, 0);
}

ul li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#logo {
    width: 100px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 12%;
}

.box {
    width: 32%;
    /* border: 2px solid black; */
    margin: 40px 0;
    position: relative;
}

.figure {
    width: 100%;
}